{% extends '_base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block header %}
<!-- Insert this code before your </body> tag -->
<script src="//static.miniclipcdn.com/js/game-embed.js"></script>

<!-- Place this code where you'd like the game to appear -->
<div class="miniclip-game-embed" data-game-name="short-ride" data-theme="5" data-width="800" data-height="480" data-language="en"><a href="https://www.miniclip.com/games/short-ride/">Play Short Ride</a></div>
<p style="text-align:center;">
    <p> Enjoy this amazing game . Only for eagle cricket team !!!</p>
</p>
{% endblock header %}

{% block about %}
{% endblock about %}
</body>
</html>