{% extends '_base.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Update {{ kheladi.first_name }} | {{ block.super }} {% endblock title %}</title>
</head>
<body>
{% block header %}
<div class="d-flex justify-content-center">
    <form class="subscribe-form font-weight-bold" action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
            <button type="submit" class="btn btn-primary">Update</button>

    </form>
</div>
{% endblock header %}

{% block about %}
{% endblock about %}
</body>
</html>