{% extends '_base.html' %}
{% load cloudinary %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}  Blog Tag | {{ block.super }} {% endblock title %}</title>
</head>
<body>

<!--<form class="form-inline mt-2 mt-md-0" action="" method="GET">-->
<!--    <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
<!--</form>-->

{% block header %}
<h3 class="">
    <a class="badge badge-danger"  href="{% url 'blog:blog_create' %}">Create blog</a>
</h3>
<hr>
{% for blog in blog_list %}
<div class="card hover-shadow" itemscope="" itemtype="" style="width: 25rem;">
    <div class="card-img-top">
        {% cloudinary blog.display_picture.public_id class="img-responsive rounded" width="398" height="200" %}
    </div>
    <div class="card-body">
        <a href="{{ blog.get_absolute_url }}"> <h4 class="card-text"><strong>{{ blog.title|title }}</strong></h4></a>
        <p class="card-text font-italic text-secondary blockquote-footer">Author: {{ blog.author|title }} | Total Views: {{ blog.total_view }}</p>
    </div>
</div>
<hr>
{% endfor %}
<hr>
{% include 'blog/pagination.html' %}
{% endblock header %}

{% block about %}
{% endblock about %}
</body>
</html>