{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{% block title %} Eagle Cricket Club {% endblock title %}</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/mainlogo.png' %}" rel="icon">
  <link href="{% static 'img/mainlogo.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Maundy - v2.0.0
  * Template URL: https://bootstrapmade.com/maundy-free-coming-soon-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center">

      <a href="/"><img src="{% static 'img/mainlogo.png' %}" alt=""></a>
<!--      <h1>Eagle Cricket Club</h1>-->
      <h2>The oldest and original cricket club of campus tole. We believe in unity</h2>

      {% block header %}

      {% endblock header %}

    </div>
  </header><!-- End #header -->


  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">
{% block about %}
        <div class="section-title">
          <h2>About Us</h2>
          <p>The original and the oldest cricket club of Campus tole with impeccable records. The team was formed in 2000 A.D. </p>
        </div>

        <div class="row mt-2">
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="icofont-computer"></i></div>
            <h4 class="title"><a href="{% url 'cricket:game' %}">Game</a></h4>
            <p class="description">Play games and refresh.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
            <h4 class="title"><a href="">Hall of fame</a></h4>
            <p class="description">Since the formation of the club, the club went through many ups and downs</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="icofont-earth"></i></div>
            <h4 class="title"><a href="{% url 'cricket:ground' %}">Home Ground</a></h4>
            <p class="description">Eagle Cricket Ground. Campus Tole, Barewa</p>
          </div>
{% if user.is_authenticated %}
           <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="icofont-ebook"></i></div>
            <h4 class="title"><a href="{% url 'cricket:gang_share' %}">Gang Share</a></h4>
            <p class="description">Share all your thoughts with others.</p>
          </div>

          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="icofont-edit"></i></div>
            <h4 class="title"><a href="">Chat</a></h4>
            <p class="description">Coming Soon !!!</p>
          </div>

          <div class="col-lg-4 col-md-6 icon-box">
            <div class="icon"><i class="icofont-file-video"></i></div>
            <h4 class="title"><a href="">Video Chat</a></h4>
            <p class="description">Coming Soon !!!</p>
          </div>
{% endif %}
        </div>

      </div>
    </section><!-- End About Us Section -->
{% endblock about %}

    {% block contact %}
    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact Us</h2>
        </div>

        <div class="d-flex justify-content-center">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>Campus Tole Street, Kalaiya-5, Bara Nepal</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>eaglecricketclub@gmail.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+053 5511135</p>
              </div>

              <div class="text-center">
              <a href="#" class="email"><i class="icofont-twitter"></i></a>
              <a href="#" class="email"><i class="icofont-facebook"></i></a>
              <a href="#" class="email"><i class="icofont-instagram"></i></a>
              </div>
<!--              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3554.1744726799434!2d84.99770507178195!3d27.024652242049875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ecab5c1ba87679%3A0x8bb17315eee82a91!2sEagle%20cricket%20ground!5e0!3m2!1sen!2sde!4v1587940209896!5m2!1sen!2sde" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>-->
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3554.1744726799434!2d84.99770507178195!3d27.024652242049875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ecab5c1ba87679%3A0x8bb17315eee82a91!2sEagle%20cricket%20ground!5e0!3m2!1sen!2sde!4v1587940209896!5m2!1sen!2sde" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

<!--          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">-->
<!--            <form action="forms/contact.php" method="post" role="form" class="php-email-form">-->
<!--              <div class="form-row">-->
<!--                <div class="form-group col-md-6">-->
<!--                  <label for="name">Your Name</label>-->
<!--                  <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />-->
<!--                  <div class="validate"></div>-->
<!--                </div>-->
<!--                <div class="form-group col-md-6">-->
<!--                  <label for="name">Your Email</label>-->
<!--                  <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />-->
<!--                  <div class="validate"></div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="form-group">-->
<!--                <label for="name">Subject</label>-->
<!--                <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />-->
<!--                <div class="validate"></div>-->
<!--              </div>-->
<!--              <div class="form-group">-->
<!--                <label for="name">Message</label>-->
<!--                <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>-->
<!--                <div class="validate"></div>-->
<!--              </div>-->
<!--              <div class="mb-3">-->
<!--                <div class="loading">Loading</div>-->
<!--                <div class="error-message"></div>-->
<!--                <div class="sent-message">Your message has been sent. Thank you!</div>-->
<!--              </div>-->
<!--              <div class="text-center"><button type="submit">Send Message</button></div>-->
<!--            </form>-->
<!--          </div>-->

        </div>
{% endblock contact %}
      </div>
    </section><!-- End Contact Us Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <script>document.write(new Date().getFullYear());</script> <strong><span>Maundy | Dikshant Ghimire</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/maundy-free-coming-soon-bootstrap-theme/ -->
        Developed by <a href="https://facebook.com/dikshantghimire" target="_blank">Dikshant Ghimire |</a> Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End #footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/jquery-countdown/jquery.countdown.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>